doctype html
.row
    .col.s12
        .dictio-card
            .card-content
                .card-title
                    h3 Add a noun
                .divider
                .row
                    .input-field.col.s6
                        input#english(
                            type='text' 
                            '[(ngModel)]'='english'
                            '#englishInput'='ngModel'
                            placeholder='English' 
                            required
                        )
                        label(for='english') English
                    .input-field.col.s6
                        input#spanish(
                            type='text' 
                            '[(ngModel)]'='spanish'
                            '#spanishInput'='ngModel'
                            placeholder='Spanish' 
                            required
                        )
                        label(for='spanish') Spanish
                .row
                    input.col.s6#masculine(
                        type='radio'
                        name='gender'
                        '[(ngModel)]'='gender'
                        '[value]'='Gender.Masculine'
                    )
                    label(for='masculine') Masculine
                    input.col.s6#feminine(
                        type='radio'
                        name='gender'
                        '[(ngModel)]'='gender'
                        '[value]'='Gender.Feminine'
                    )
                    label(for='feminine') Feminine
                .row
                    input.col.s12#countable(
                        type='checkbox'
                        '[(ngModel)]'='countable'
                        )
                    label(for='countable') Countable
            .card-action
                a.btn.waves-effect.waves-light(
                    '(click)'='submitAsync()' 
                    '[ngClass]'='{ \'disabled\': !englishInput.valid || !spanishInput.valid }'
                    ) Submit