doctype html
.modal.bottom-sheet#form(materialize='modal')
    .modal-content
        .row
            .input-field.col.s5
                input#english(
                    type='text' 
                    '[(ngModel)]'='english'
                    '#englishInput'='ngModel'
                    placeholder='English' 
                    required
                )
            .input-field.col.s5
                input#spanish(
                    type='text' 
                    '[(ngModel)]'='spanish'
                    '#spanishInput'='ngModel'
                    placeholder='Spanish' 
                    required
                )
        .row
            input.col.s10#formable(
                type='checkbox'
                '[(ngModel)]'='formable'
                )
            label(for='formable') Formable
    .modal-footer
        a.btn.modal-action.modal-close.waves-effect.waves-green(
            '(click)'='submit()' 
            '[ngClass]'='{ \'disabled\': !englishInput.valid || !spanishInput.valid }'
            ) Add