doctype html
.modal.bottom-sheet#form(materialize='modal')
    .modal-content
        .row
            .input-field.col.s5
                input#english(
                    type='text' 
                    '[(ngModel)]'='english'
                    '#englishInput'='ngModel'
                    placeholder='English' 
                    required
                )
            .input-field.col.s5
                input#spanish(
                    type='text' 
                    '[(ngModel)]'='spanish'
                    '#spanishInput'='ngModel'
                    placeholder='Spanish' 
                    required
                )
        .row
            input.col.s5#masculine(
                type='radio'
                name='gender'
                '[(ngModel)]'='gender'
                '[value]'='Gender.Masculine'
            )
            label(for='masculine') Masculine
            input.col.s5#feminine(
                type='radio'
                name='gender'
                '[(ngModel)]'='gender'
                '[value]'='Gender.Feminine'
            )
            label(for='feminine') Feminine
        .row
            input.col.s10#countable(
                type='checkbox'
                '[(ngModel)]'='countable'
                )
            label(for='countable') Countable            
    .modal-footer
        a.btn.modal-action.modal-close.waves-effect.waves-green(
            '(click)'='submitAsync()' 
            '[ngClass]'='{ \'disabled\': !englishInput.valid || !spanishInput.valid }'
            ) Add